* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
}

.navbar {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    opacity: 0.7;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.navbar nav a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.5s, transform 0.5s;
    font-size: 2rem;
}

.navbar nav a:hover {
    color: #5a017b;
    transform: scale(1.1);
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -999;
}
.content {
    position: relative;
    z-index: 1;
    color: black;
    text-align: center;
    top: 42.5%;
    transform: translateY(-50%); 
}

h1 {
    font-size: 4em;
    margin-bottom: 1rem;
}

.content h2 {
    font-size: 3rem;
    margin-top: 0.5rem;
}

.content h3 {
    font-size: 2rem;
}   

.content img {
    width: 35%;
    opacity: 0.9;
}

span {
  color: #5a017b;
}

.content-div-hjem {
    color: black;
    padding: 2rem;
} 

.content button {
    background-color: #54017296;
    opacity: 0.7;
    color: rgb(0, 0, 0);
    border: none;
    padding: 1rem 2rem;
    font-size: 4rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: background-color 0.5s, opacity 0.5s, transform 0.5s;
    margin-top: 1rem;
    border-radius: 5px;
}

.content button:hover {
    background-color: #6c0094c7;
    opacity: 0.9;
    transform: scale(1.05);
}

.content-sponsor {
    position: relative;
    z-index: 1;
    color: black;
    text-align: center;
    top: 30%;
    transform: translateY(-50%); 
}

.sponsors {
    display: flex;
    justify-content: center;   
    align-items: center;
    gap: 5%;                
}

.sponsors a {
    display: inline-block;
}

.sponsors img {
    margin-top: 3rem;
    width: 300px;            
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.sponsors img:hover {
    transform: scale(1.1);  
}

.content-omoss {
    position: relative;
    z-index: 1;
    color: black;
    text-align: center;
    top: 37.5%;
    transform: translateY(-50%); 
}

.content-omoss p {
    font-size: 2rem;
    margin: 2rem;
    line-height: 1.6;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.content-kontakt {
    position: relative;
    z-index: 1;
    color: black;
    text-align: center;
    top: 40%;
    transform: translateY(-50%); 
    display: grid;
    justify-items: center;
    align-items: center;
}

.contact-block {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-block:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.contact-block h3 {
    margin: 5px 0;
    font-size: 2rem;
}

.contact-block p {
    margin: 5px 0;
    font-size: 1.5rem;
}

.contact-block strong {
    color: black;
}